.top{
    color: white;
    background-color: black;
    font: 1em sans-serif;
    border: black;
    text-align: initial;
    text-size-adjust: 50px;
}


.boxl{
    border: 1px solid transparent;
    background-color: whitesmoke;
    height: 50px;
    
}

ul{
    float: right;
    color: white;

}

ul li{
    margin-top: -10px;
    float: left;
    position: relative;
    width: 98px;
    font-size: 14px;
    list-style-type: none;
    font-family: barlow condensed, sans-serif;
}
.icons{
    float: right;
    align-items: right;
}

