.header{
    border: solid white ;
    color:white;
    background-color:hsl(0, 86%, 31%);
    width: 1250px;
    font-size: x-large;
    
}
.body{
    background-color: black;
    height: 1000px;
}
.background{
    background-image: url(har.jpg);
    

}
.fikayo{
    border: solid white;
    width: 1250px;
    height: 300px;
}
.ft{
    border: slid white;
    width: 250px;
    height: 298px;
    margin-top: -302px;
}
.f{
    border: slid white;
    width: 750px;
    height: 300px;
    margin-left: 490px;
    color: white;
    font-size: xx-large;
    margin-top: -3px;
}
.steph{
    border: solid white;
    width: 1250px;
    height: 300px; 
}
.s{
   border: slid white; 
   width: 750px;
   height: 300px;
   color: white;
   font-size: xx-large;
   margin-top: -2px;

}
.st{
    border: soid white;
    width: 250px;
    height: 298px;
    margin-left: 1002px;
    margin-top: -301px;
}
.coker{
    border: solid white;
    width: 1250px;
    height: 300px;
}
.co{
    border: slid white;
    width: 250px;
    height: 298px;
    margin-top: -303px;
}
.c{
    border: soid white;
    width: 750px;
    height: 300px;
color: white;
font-size: xx-large;
margin-left: 499px;
margin-top: -1px;
}
.emma{
    border: solid white;
    width: 1250px;
    height: 300px;
}
.e{
    border: olid white;
    width: 750px;
    height: 300px;
    color: white;
    font-size: xx-large;
    
    margin-top: -1px;
}
.em{
    border: slid white;
    width: 250px;
    height: 298px;
    margin-top: -300px;
    margin-left: 1000px;
}
.etini{
    border: solid white;
    width: 1250px;
    height: 300px;
}
.et{
    border: slid white;
    width: 250px;
    height: 298px;
    margin-top: -302px;
}
.eti{
    border: soid white;
    width: 750px;
    height: 300px;
    margin-left: 500px;
    color: white;
    font-size: xx-large;
    margin-top: -4px;
}
.etti{
    border: solid  white;
    width: 1250px;
    height: 300px;
}
.ei{
    border: slid white;
    width: 750px;
    height: 300px;
    color: white;
    font-size: xx-large;
    margin-top: -2px;
}
.peace{
    border: slid white;
    width: 250px;
    height: 298px;
    margin-left: 1000px;
    margin-top: -303px;
}

